@{
    ViewData["Title"] = "Acerca de";
}

<div class="pagetitle">
    <h1>Acerca de</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item active">Acerca de</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Acerca de</h5>
                    <p>La app Quinielas es una aplicación amistosa para que puedas organizar tus quinielas con tus amigos y participar por diversión.</p>
                    <p>Recuerda pasar un buen momento junto a tus amigos o en una sala pública tratando de acertar todos los marcadores que puedas. ¡Suerte!</p>
                    <div id="hint" class="form-text">Recuerda que nunca compartiremos tus datos personales, ni te haremos ningún cobro por el uso de esta aplicación.</div>
                    <h6 class="card-title mt-5">Descripción de las puntuaciones</h6>
                    <ul class="mb-4">
                        <li>Marcador exacto: 5 puntos</li>
                        <li>Acertar al ganador o empate: 2 puntos</li>
                        <li>Cualquier otra predicción: 0 puntos</li>
                    </ul>
                    <a href="/dashboard">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</section>
