@model QuinielasModel.DTO.Auth.UserAuth
@{
    Layout = "~/Views/Shared/_NotLoggedInLayout.cshtml";
}
@{
    ViewData["Title"] = "Login";
}

<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="~/img/logo.png" alt="" />
                            <span class="d-none d-lg-block">Quinielas</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Inicia sesión</h5>
                                <p class="text-center small">Ingresa con tu correo o usuario</p>
                            </div>

                            <form class="row g-3 needs-validation" novalidate method="post" asp-action="Login">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group col-12">
                                    <label asp-for="UserEmail" class="form-label"></label>
                                    <input asp-for="UserEmail" class="form-control" required />
                                    <span asp-validation-for="UserEmail" class="text-danger"></span>
                                </div>

                                <div class="form-group col-12">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input type="password" asp-for="Password" class="form-control" required />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <!--div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Recuérdame</label>
                                    </div>
                                </div-->
                                <div class="form-group col-12">
                                    <input type="submit" value="Iniciar sesión" class="btn btn-primary w-100" />
                                </div>
                            </form>
                            <div class="col-12">
                                <p class="small mt-3 mb-0">¿No tienes una cuenta? <a href="register">Regístrate</a></p>
                            </div>

                        </div>
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>
