@model QuinielasModel.Pool

@{
    ViewData["Title"] = "Create";
}

<script>
    function toggleStyleClass(checkbox) {
        element = document.getElementById("passinput");
        if (checkbox.checked) {
            element.classList.remove('d-none');
        } else {
            element.classList.add('d-none');
        }
    }
</script>

<div class="pagetitle">
    <h1>Crear quiniela</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Inicio</a></li>
            <li class="breadcrumb-item">Quinielas</li>
            <li class="breadcrumb-item active">Nueva Quiniela</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nueva Quiniela</h5>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Private" onclick="toggleStyleClass(this)" /> @Html.DisplayNameFor(model => model.Private)
                            </label>
                        </div>
                        <div class="form-group d-none" id="passinput">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsersLimit" class="control-label"></label>
                            <input asp-for="UsersLimit" class="form-control" required min="1" max="100" />
                            <span asp-validation-for="UsersLimit" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
		    </div>
        </div>
    </div>
</section>

<div>
    <a asp-action="Mine">Volver a mis quinielas</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
